<div class="index">

<h3>Recent Posts</h3>

<% @posts.each do |post| %>
  <div class="row">
     <div>
      <dl>
      <dd><a href="<%=post_path(post)%>"><%=post.title%></a></dd>
      <dd><%=post.text%></dd>
     </dl>
    </div>
  </div>
<% end %>
</div>
