<div class="index">

<h3>Reviews of this Post</h3>

<div id="review_list">
<% @reviews.each do |review| %>
  <div class="row">
    <div class="span3 offset1">
      <dl>
      <dt><%=review.title%> (<%=review.score%>)</dt>
      <dd><%=review.text%></dd>
      </dl>
    </div>
  </div>
<% end %>
<div/>

</div>
