<%= render :partial => 'layouts/header' %>

<h3>List of the recent reviews</h3>

<ul>
  <% @reviews.each do |r| %>
    <li>
      <%= link_to r.review_text, review_path(r) %>
    </li>
  <% end %>
</ul> 